@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Tourest.ViewModels.Account.ChangePasswordModel;
@{
    ViewData["Title"] = "Đổi Mật Khẩu";
}

<h2>Đổi Mật Khẩu</h2>

<form asp-action="ActionChangePassword" asp-controller="Profile" asp-route-id="@Model.UserID" method="post">
    <input type="hidden" asp-for="UserID" />

    <div class="mb-3">
        <label asp-for="CurrentPassword" class="form-label"></label>
        <input asp-for="CurrentPassword" class="form-control" />
        <span asp-validation-for="CurrentPassword" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="NewPassword" class="form-label"></label>
        <input asp-for="NewPassword" class="form-control" />
        <span asp-validation-for="NewPassword" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="ConfirmNewPassword" class="form-label"></label>
        <input asp-for="ConfirmNewPassword" class="form-control" />
        <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Xác nhận đổi mật khẩu</button>
    <a asp-action="ProfileDetail" asp-route-id="@Model.UserID" class="btn btn-secondary">Hủy</a>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}