<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>@ViewData["Title"] - Tourest</title>
    @inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
    @using Newtonsoft.Json
    @using Tourest.ViewModels.Account;
    <link rel="stylesheet" href="~/assets/css/style.css" />
    <link rel="stylesheet" href="~/assets/css/plugins.css" />
    <link rel="stylesheet" href="~/assets/css/StyleSheet.css" />
    <link rel="stylesheet" href="~/assets/css/StyleSheet1.css" />
    <link rel="stylesheet" href="~/assets/css/StyleSheet2.css" />
    <link rel="icon" href="assets/images/favicon.png" type="image/x-icon" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
          rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
          rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.3.2/mdb.min.css"
          rel="stylesheet" />
    <!-- Bootstrap CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
</head>
@{
    var session = HttpContextAccessor.HttpContext.Session;
    var accountJson = session.GetString("CurrentAccount");
    var currentAccount = accountJson == null ? null : JsonConvert.DeserializeObject<UserViewModel>(accountJson);
}
<body class="custom-cursor">
    <header class="header__section">
        <div class="header__top">
            <div class="container container--max-width">
                <div class="row g-2 align-items-center">
                    <div class="col-sm-6">
                        <div class="header__top-left">
                            <ul>
                                <li>
                                    <a href="tel:+000999898999">(000)999-898-999</a>
                                </li>
                                <li>
                                    <a href="mailto:info@Touest.com">info@Touest.com</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="header__top-right">
                            <div class="social-links">
                                <ul>
                                    <li>
                                        <a href="#">
                                            <i class="fa-brands fa-facebook-f"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa-brands fa-x-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa-brands fa-linkedin-in"></i>
                                        </a>
                                    </li>
                                    <li> 
                                        <a href="#">
                                            <i class="fa-brands fa-pinterest-p"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="language-dropdown">
                                <select>
                                    <option data-display="EUR">EUR</option>
                                    <option value="1">BDT</option>
                                    <option value="2">USD</option>
                                    <option value="3">INR</option>
                                    <option value="4">PLN</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header__main">
            <div class="container container--max-width">
                <div class="row align-content-center">
                    <div class="col-6 col-md-9 col-xl-8">
                        <div class="header__main-left">

                            <a asp-controller="Home" asp-action="Index" class="logo">
                                <img src="~/assets/images/logo.svg" alt="logo" />
                            </a>
                            <div class="header__main-menu">
                                <nav class="header__navigation">
                                    <ul>
                                        @if (currentAccount != null)
                                        {
                                            <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                                            <li><a asp-controller="Tours" asp-action="Index">Tours</a></li>
                                            <li><a asp-controller="SupportRequest" asp-action="Index">Support</a></li>
                                            <li><a asp-controller="BookingHistory" asp-action="Index">BookingHistory</a></li>
                                        }
                                        else
                                        {
                                            <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                                            <li><a asp-controller="Tours" asp-action="Index">Tours</a></li>
                                            <li><a asp-controller="Home" asp-action="Privacy">Contact</a></li>

                                        }
                                        <!--else if (currentAccount.Account.Role == "Manager")
                                        {
                                            <li><a href="TourManager">Tour Manager</a></li>

                                        }-->
                                        

                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-md-3 col-xl-4">
                        <div class="header__main-right d-flex justify-content-end">
                            <ul>
                               
                                <li>
                                    
                                        
                                        @if (currentAccount != null)
                                        {
                                            <a href="/Profile/Index/@currentAccount.UserID">Hello, @currentAccount.FullName!</a>
                                        } 
                                        else
                                        {
                                            
                                            <a asp-controller="Authentication" asp-action="Login"><button class="btn" style="background-color: #039e9d; color: white">Login/Signup</button> </a>
                                        }
                                    
                            </li>
                               @if (currentAccount != null)
                                        {
                                <li class="position-relative">
                                    <button class="btn btn-link p-1 lh-1" type="button" id="notificationButton">
                                        <i class="fa-solid fa-bell"></i>
                                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                            3
                                        </span>
                                    </button>

                                    <div class="position-absolute bg-white shadow rounded p-3" id="notificationModal" style="width: 300px; right: 0; top: 120%;">
                                        <div class="fw-bold mb-2">Thông báo</div>

                                        <div class="d-flex align-items-start mb-2">
                                            <i class="fa-solid fa-circle-info text-primary me-2 mt-1"></i>
                                            <div>
                                                <div>Chào mừng bạn đến với hệ thống của chúng tôi!</div>
                                                <small class="text-muted">1 giờ trước</small>
                                            </div>
                                        </div>

                                        <div class="d-flex align-items-start mb-2">
                                            <i class="fa-solid fa-check-circle text-success me-2 mt-1"></i>
                                            <div>
                                                <div>Đơn hàng #12345 đã được xác nhận</div>
                                                <small class="text-muted">3 giờ trước</small>
                                            </div>
                                        </div>

                                        <div class="d-flex align-items-start mb-3">
                                            <i class="fa-solid fa-exclamation-circle text-warning me-2 mt-1"></i>
                                            <div>
                                                <div>Bạn có thông báo mới từ hệ thống</div>
                                                <small class="text-muted">12 giờ trước</small>
                                            </div>
                                        </div>

                                        <div class="text-center">
                                            <a href="#" class="text-decoration-none">Xem tất cả thông báo</a>
                                        </div>
                                    </div>
                                    </li>
                                }

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </header>

    <div>
        <main role="main">
            @RenderBody()
        </main>
    </div>
    <!-- Footer__section start  -->
    <footer class="footer__section footer__section--extend section-padding-top-bottom">
        <div class="container">
            <div class="row g-4 g-xxl-5 justify-content-between">
                <div class="col-12 col-sm-6 col-lg-3 order-1 order-lg-0">
                    <div class="footer-widgets footer__leftContent fade_bottom">
                        <a href="index.html" class="logo">
                            <img src="~/assets/images/logo-2.svg" alt="logo" />
                        </a>
                        <div class="help-info">
                            <span>Need any help?</span>
                            <h6 class="text-white">
                                Call Us:
                                <a href="tel:+88812345678" class="text-orange-red">(888)1234 5678</a>
                            </h6>
                        </div>
                        <div class="contact-addresses">
                            <p>Love Street, Muscat, Oman</p>
                            <a href="mailto:exaample@Touest.com">exaample@Touest.com</a>
                        </div>
                        <div class="social-share">
                            <ul>
                                <li>
                                    <a href="#"><i class="fa-brands fa-facebook"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-lg-6 order-0 order-lg-1">
                    <div class="footer-widgets footer__links-wrapper">
                        <div class="footer-links item-stagger footer-links--extend">
                            <h6 class="footer-link-title">Company</h6>
                            <ul>
                                <li><a href="about-us.html">About Us</a></li>
                                <li><a href="contact.html">Contact Us</a></li>
                                <li><a href="#">Travel Guides</a></li>
                                <li><a href="#">Data Policy</a></li>
                            </ul>
                        </div>
                        <div class="footer-links item-stagger footer-links--extend">
                            <h6 class="footer-link-title">Top Destination</h6>
                            <ul>
                                <li><a href="destination-details.html">Las Vegas</a></li>
                                <li>
                                    <a href="destination-details.html">New York City</a>
                                </li>
                                <li>
                                    <a href="destination-details.html">San Francisco</a>
                                </li>
                                <li><a href="destination-details.html">Hawaii</a></li>
                            </ul>
                        </div>
                        <div class="footer-links item-stagger footer-links--extend">
                            <h6 class="footer-link-title">&nbsp;</h6>
                            <ul>
                                <li><a href="destination-details.html">Tokyo</a></li>
                                <li><a href="destination-details.html">Sydney</a></li>
                                <li><a href="destination-details.html">Melbourne</a></li>
                                <li><a href="destination-details.html">Dubai</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3 order-2 order-lg-2">
                    <div class="footer-widgets footer__rightContent fade_bottom">
                        <div class="news-letter">
                            <h6>Sign up Newsletter</h6>
                            <form action="index.html" class="mt-3">
                                <div class="input-group">
                                    <input type="email"
                                           name="email"
                                           id="email"
                                           placeholder="Enter email..."
                                           required
                                           autocomplete="off" />
                                </div>
                                <button type="submit" class="common-btn color-two">
                                    Submit
                                </button>
                            </form>
                            <p class="copyright">© 2025 Touest All Right Reserved</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="~/js/site.js" asp-append-version="true"></script>
    <!-- JS Files -->
    <!-- jQuery MeanMe -->
    <script src="~/assets/js/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>
    <!-- Bootstrap -->
    <script src="~/assets/js/bootstrap.bundle.min.js"></script>
    <!-- jQuery MeanMenu Plugin -->
    <script src="~/assets/js/jquery.meanmenu.js"></script>
    <!-- Swiper slider Plugin -->
    <script src="~/assets/js/swiper-bundle.min.js"></script>
    <!-- Magnific-Popup Plugin -->
    <script src="~/assets/js/jquery.magnific-popup.min.js"></script>
    <!-- Nice Select Plugin -->
    <script src="~/assets/js/jquery.nice-select.min.js"></script>
    <!-- Moment Plugin -->
    <script src="~/assets/js/moment.min.js"></script>
    <!-- Daterangepicker Plugin -->
    <script src="~/assets/js/daterangepicker.js"></script>
    <!-- Odometer JS -->
    <script src="~/assets/js/odometer.min.js"></script>
    <script src="~/assets/js/viewport.jquery.js"></script>
    <!-- BackToTop Plugin -->
    <!-- <script src="assets/js/backToTop.js"></script> -->
    <!-- GSAP -->
    <script src="~/assets/js/gsap.min.js"></script>
    <script src="~/assets/js/ScrollTrigger.min.js"></script>
    <script src="~/assets/js/ScrollToPlugin.min.js"></script>
    <script src="~/assets/js/ScrollSmoother.min.js"></script>
    <script src="~/assets/js/SplitText.min.js"></script>

    <!-- Chart  -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.1/dist/chart.umd.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/chart.js@4.4.1/dist/Chart.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.1/dist/chart.umd.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/chart.js@4.4.1/dist/Chart.min.css" rel="stylesheet">
    <!-- Main JavaScript File -->
    <script src="~/assets/js/main.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    @RenderSection("Style", required: false)
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>

    <script>
        const notificationButton = document.getElementById('notificationButton');
        const notificationModal = document.getElementById('notificationModal');

        if (notificationButton && notificationModal) {
            notificationModal.style.display = 'none';

            notificationButton.addEventListener('click', function (event) {
                event.stopPropagation(); 
                notificationModal.style.display = (notificationModal.style.display === 'block') ? 'none' : 'block';
            });

            document.addEventListener('click', function (event) {
                if (notificationModal.style.display === 'block' && !notificationModal.contains(event.target) && event.target !== notificationButton) {
                    notificationModal.style.display = 'none'; // Ẩn modal
                }
            });
        }
    </script>

</body>
</html>
